In [1]:
import pandas as pd
import sys

In [3]:
pd.read_excel("Data Cleaning Start.xlsx", sheet_name="Clean")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Date,Client,Contact,Department,Region,Payment,Revenue,Profit,Profit Margin
1,NaN,2023-05-30 00:00:00,"amazon.com, inc.",Bill Smith,Cloud Tech,Texas,Transfer,4500,598,0.132889
2,NaN,2023-05-30 00:00:00,"tesla, inc.",Ken Singh,Strategy,New York,PayPal,3800,1045,0.275
3,NaN,2023-05-30 00:00:00,"netflix, inc.",Harley Fritz,Strategy,New York,NaN,3712.5,1009,0.271785
4,NaN,2023-05-30 00:00:00,the procter & gamble company,Nyla Novak,Operations,Florida,NaN,NaN,779,NaN
5,NaN,2023-05-30 00:00:00,"the goldman sachs group, inc.",David Rasmussen,Operations,Florida,Check,5000,684,0.1368
6,NaN,2023-05-31 00:00:00,jpmorgan chase & co.,Ivan Hiney,Cloud Tech,Texas,Transfer,6100,544,0.08918
7,NaN,2023-05-31 00:00:00,morgan stanley,Jonha Ma,Cloud Tech,Texas,Transfer,4625,670,0.144865
8,NaN,2023-05-31 00:00:00,citigroup inc.,Jordan Boone,Cloud Tech,Texas,Transfer,3800,2045,0.538158
9,NaN,2023-05-31 00:00:00,bank of america corporation,Kylee Townsend,Cloud Tech,Texas,Card,3600,1564,0.434444
10,NaN,2023-05-31 00:00:00,walmart inc.,Nora Rollins,Cloud Tech,Texas,Check,5100,1220,0.239216
11,NaN,2023-05-31 00:00:00,target corporation,Brendan Wallace,Cloud Tech,Texas,Check,4750,1435,0.302105
12,NaN,2023-05-31 00:00:00,costco wholesale corporation,Conor Wise,Operations,Florida,Transfer,6000,998,0.166333
13,NaN,2023-05-31 00:00:00,mcdonald's corporation,Steven Michael,Big Data,California,Check,4500,780,0.173333
14,NaN,2023-06-01 00:00:00,exxon mobil corporation,Lucia Mckay,Big Data,California,Card,NaN,1044,NaN
15,NaN,2023-06-01 00:00:00,verizon communications inc.,Jose Roach,Big Data,California,Transfer,3712.5,1222,0.329158
16,NaN,2023-06-01 00:00:00,"the home depot, inc.",Franklin Wrigt,Big Data,California,Transfer,4950,1065,0.215152
17,NaN,2023-06-01 00:00:00,"cisco systems, inc.",Alia Thornton,Operations,Florida,Transfer,4750,810,0.170526
18,NaN,2023-06-01 00:00:00,chevron corporation,Denzel Flores,Operations,Florida,Transfer,7320,933,0.127459
19,NaN,2023-06-01 00:00:00,at&t inc.,Bruno Cordova,Big Data,California,Transfer,5087.5,655,0.128747
20,NaN,2023-06-01 00:00:00,intel corporation,Jaylynn Napp,Big Data,California,Transfer,4500,722,0.160444
21,NaN,2023-06-01 00:00:00,general motors company,Bruce Rich,Big Data,California,Card,4250,901,0.212
22,NaN,2023-06-02 00:00:00,microsoft corporation,Arturo Moore,Big Data,California,PayPal,5250,1349,0.256952
23,NaN,2023-06-02 00:00:00,comcast corporation,Bryce Carpenter,Strategy,New York,PayPal,6500,1288,0.198154
24,NaN,2023-06-02 00:00:00,dell technologies inc.,Jaidyn Andersen,Strategy,New York,PayPal,7500,1664,0.221867
25,NaN,2023-06-02 00:00:00,johnson & johnson,Mark Walm,Strategy,New York,Transfer,5500,1320,0.24
26,NaN,2023-06-02 00:00:00,fedex corporation,Harry Lee,Strategy,New York,Transfer,4625,1001,0.216432
27,NaN,2023-06-02 00:00:00,general electric company,Josh Johnson,Strategy,New York,Transfer,4500,960,0.213333
28,NaN,2023-06-02 00:00:00,lockheed martin corporation,Mik Naam,Strategy,New York,Card,5400,540,0.1